<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SqlRunner - Error</title>
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	});
</script>
</head>
<body>
.property("status", "error")
			.property("type", "Application Error")
			.property("servletName", servletName)
			.property("statusCode",String.valueOf(statusCode))
			.property("occurredAt", requestUri)
			.property("message", throwable.getMessage())
			
			
	<div class='bg-overlay'>
		<div class="iwr-content-wrap">
			<div class="iwr-form-panel">
				<div class="notify hide notify-green">
				</div>

				<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label
					for="tab-1" class="tab">Error</label>

				<div class="iwr-ui-form">
					<div class="group">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>