<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Day 001 Login Form</title>
<link rel="stylesheet" href="css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="css/scroller.dataTables.min.css" />
<link rel="stylesheet" href="css/select.dataTables.min.css" />
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="js/dataTables.select.min.js"></script>
<script type="text/javascript">
	$(document).ready(
			function() {

				var dTable = $('#userInfoPane').DataTable({
					ajax : "data?action=fetchUser",
					deferRender : true,
					scrollY : 200,
					scrollCollapse : true,
					scroller : true,
					select : true
				});

				$("#addUserBtn").click(
						function() {
							username = $("#new-username").val();
							password = $("#new-password").val();
							role = $("input[name='role']:checked").val();

							if (!validateForm(username, password, role)) {
								$(".notify").removeClass('hide').addClass(
										'show');
								return false;
							} else {
								$('.notify').addClass('hide').removeClass('show');
							}

							$.ajax({
								url : "data?action=addUser&username="
										+ username + "&password=" + password
										+ "&role=" + role,
								method : "POST",
								success : function(response, status, obj) {
									alert('status : ' + status);
									if (status == "success") {

										dTable.destroy();

										dTable = $('#userInfoPane').DataTable({
											ajax : "data?action=fetchUser",
											deferRender : true,
											scrollY : 200,
											scrollCollapse : true,
											scroller : true,
											select : true
										});
									}
								},
								error : function(error) {
									$(".notify").removeClass('hide').addClass('show');
									$('.notify').text(error);
								}
							});
						});

				function validateForm(username, password, role) {
					if (username == '') {
						$('.notify').text('Please enter username');
						return false;
					} else if (password == '') {
						$('.notify').text('Please enter password');
						return false;
					} else if (role == undefined || role == '') {
						$('.notify').text(
								'Please select either Admin or User role');
						return false;
					}
					return true;
				}
			});
</script>
</head>

<body>
	<div class='bg-overlay'>
		<div class="iwr-content-wrap">
			<div class="iwr-form-panel">

				<div class="notify hide notify-red"></div>
			
				<div class="menu">
					<a href="logout?action=doLogout">Settings</a>
					&nbsp;
					<a href="logout?action=doLogout">Log off</a>
				</div>

				<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label
					for="tab-1" class="tab">User Management</label>

				<div class="iwr-ui-form">
					<div class="float-left">
						<div class="group">
							<input id="new-username" type="text" class="input mid-size"
								placeholder="New username">
						</div>
					</div>

					<div class="float-left">
						<div class="group">
							<input id="new-password" type="text" class="input mid-size"
								placeholder="New password">
						</div>
					</div>

					<div class="float-left" style="line-height: 50px;">
						<input type="radio" name="role" value="admin" class="input mid-size" /> Admin 
						<input type="radio" name="role" value="user" class="input mid-size" /> User
					</div>

					<div class="float-left">
						<div class="group">
							<input type="submit" id="addUserBtn" class="button mid-size"
								value="Add user" />
						</div>
					</div>
					<table id="userInfoPane" class="display nowrap" cellspacing="0"
						width="100%">
						<thead>
							<tr>
								<th>S.No</th>
								<th>Username</th>
								<th>Password</th>
								<th>Role</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
