<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SqlRunner - Workspace</title>
<link rel="stylesheet" href="css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="css/scroller.dataTables.min.css" />
<link rel="stylesheet" href="css/select.dataTables.min.css" />
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="js/jquery.base64.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="js/dataTables.select.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#executeBtn").click(function() {
			
			$("#queryResultDiv").hide();
			
			$.ajax({
				url : "data?action=executeQuery&query=" + $("#query").val(),
				method : "POST",
				success : function(response, httpStatus, obj) {
					
					if (httpStatus == "success") {
						
						$(".notify").removeClass('show').addClass('hide');
						$('.notify').text('');
						
						var jsonObj = response;
						$("#queryResultDiv").show();
						$("#queryResultDiv").html('');
						
						if(jsonObj.status == "success") {
							
							// Rendering HTML table structure for dataTable
							var htmlTable = '<table id="queryResultPane" class="display nowrap" cellspacing="0" width="100%">'+
								'<thead>'+
									'<tr>';
							
							columns = jQuery.parseJSON($.base64.atob(jsonObj.columns, true));
							
							$.each(columns.aaData, function(index, value){
								htmlTable += "<th>"+ value +"</th>";	
							});
							
							htmlTable += '</tr></thead></table>';
							$("#queryResultDiv").html(htmlTable);
							
							rows = jQuery.parseJSON($.base64.atob(jsonObj.rows, true));
							
							$('#queryResultPane').DataTable({
								data : rows.aaData,
								deferRender : true,
								scrollY : 200,
								scrollCollapse : true,
								scroller : true,
								select : true
							});
						}else if(jsonObj.status == "error") {
							$(".notify").removeClass('hide').addClass('show');
							$('.notify').text(jsonObj.type + ": " + jsonObj.error);
						}
					}
				},
				error : function(error, httpStatus, obj) {
					alert('err: '  + error + '\nstat: ' + httpStatus + '\nobj: ' + obj);
				}
			});
		});
	});
</script>
</head>

<body>
	<div class='bg-overlay'>
		<div class="iwr-content-wrap">
			<div class="iwr-form-panel">

				<div class="notify hide notify-red"></div>

				<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label
					for="tab-1" class="tab">Workspace</label>

				<div class="iwr-ui-form">
					<div class="float-left">
						<div class="group">
							<textarea class="txarea" id="query" rows="5" cols="105"></textarea>
						</div>
					</div>

					<div class="float-left">
						<div class="group">
							<input type="submit" id="executeBtn" class="button mid-size"
								value="Execute">
						</div>
					</div>
					
					<div id="queryResultDiv">
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
